# COLOUR (base16)
color={{base00-hex}}
bs-hl-color={{base0F-hex}}
caps-lock-bs-hl-color={{base0F-hex}}
caps-lock-key-hl-color={{base0B-hex}}
key-hl-color={{base0B-hex}}
inside-clear-color={{base03-hex}}
inside-ver-color={{base03-hex}}
inside-wrong-color={{base08-hex}}
ring-wrong-color={{base08-hex}}
ring-color={{base0A-hex}}
ring-caps-lock-color={{base0A-hex}}
ring-clear-color={{base0C-hex}}
text-clear-color={{base0C-hex}}
ring-ver-color={{base0D-hex}}
text-color={{base05-hex}}
text-caps-lock-color={{base05-hex}}
text-ver-color={{base05-hex}}
text-wrong-color={{base05-hex}}
