* {
  all: initial;
  /* font-family: monospace; */
  font-family: "Inter Display";
  font-weight: 600;
  font-size: 14px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

window box {
  padding-left: 4px;
  padding-right: 8px;
}

#custom-line {
  margin: 0 4px;
  opacity: 0.2;
  text-shadow: none;
}

#workspaces button {
  border-top: 2px solid transparent;
  padding: 0 8px;
}

/* wlr */
/* #workspaces button.active {
  border-top: 2px solid #006f8c;
}
#workspaces button:hover:not(.active) {
  border-top: 2px solid #005b74;
} */

/* sway */
#workspaces button.visible {
  border-top: 2px solid #006f8c;
}
#workspaces button:hover:not(.visible) {
  border-top: 2px solid #005b74;
}
