/* vi: ft=css
*/

@define-color window_bg_color #{{base00-hex}};
@define-color window_fg_color #{{base07-hex}};

@define-color view_bg_color #{{base01-hex}};
@define-color view_fg_color #{{base06-hex}};

@define-color accent_bg_color #{{base0D-hex}};
@define-color accent_fg_color #{{base00-hex}};
@define-color accent_color #{{base0D-hex}};

@define-color headerbar_bg_color #{{base01-hex}};
@define-color headerbar_backdrop_color #{{base00-hex}};
@define-color headerbar_fg_color #{{base07-hex}};

@define-color card_bg_color rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.08);
@define-color card_fg_color #{{base07-hex}};

@define-color popover_bg_color #{{base00-hex}};
@define-color popover_fg_color #{{base07-hex}};

@define-color dialog_bg_color #{{base00-hex}};
@define-color dialog_fg_color #{{base07-hex}};

@define-color warning_bg_color #{{base0A-hex}};
@define-color warning_fg_color rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.8);
@define-color warning_color #{{base09-hex}};

@define-color error_bg_color #{{base08-hex}};
@define-color error_fg_color rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.8);
@define-color error_color #{{base0F-hex}};

@define-color success_bg_color #{{base0C-hex}};
@define-color success_fg_color rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.8);
@define-color success_color #{{base0B-hex}};

@define-color destructive_bg_color #{{base08-hex}};
@define-color destructive_fg_color rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.8);
@define-color destructive_color #{{base0F-hex}};
